@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	button {
		@apply text-white bg-indigo-600 border border-indigo-600
		hover:bg-transparent hover:text-indigo-600 rounded-xl 
	}
}

@layer base {
	.like {
	@apply text-gray-400 cursor-pointer transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300
	}
}


.Box {
	
	background-image: url('./assets/img.png');
    background-size: cover;
    background-position: center;
	
}
.Box2 {
	
	background-image: url('./assets/img2.png');
    background-size: cover;
    background-position: center;
	
}

.left-shadow{
	box-shadow: -1px 0px 0px 0px #4f46e5;
}

.swal-footer, .swal-text{
	text-align: center;
}

.swal-button {
	background-color: #4f46e5;
}

.leaflet-container{
	height: 80%;
	width: 100%;
	@apply shadow-2xl shadow-gray-600 rounded-xl;
	z-index: 0;
}


.Leaflet{
	background: transparent;
}

input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 24px;
	height: 24px;
	-webkit-appearance: none;
}

.slider{
	height: 5px;
	position: relative;
	background: #ddd;
	border-radius: 5px;
  }
  .slider .progress{
	height: 100%;
	left: 10%;
	right: 20%;
	position: absolute;
	border-radius: 5px;
	background: #4f46e5;
  }

  .range-input{
	position: relative;
  }
  .range-input input{
	position: absolute;
	width: 100%;
	height: 5px;
	top : -5px;
	background: none;
	pointer-events: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
  }

  input[type="range"]::-webkit-slider-thumb{
	height: 17px;
	width: 17px;
	border-radius: 50%;
	background: #4f46e5;
	pointer-events: auto;
	-webkit-appearance: none;
	box-shadow: 0 0 6px rgba(0,0,0,0.05);
	z-index: 10;
  }


   /* /////////////////////////////////// */





.sliderkm{
	height: 5px;
	position: relative;
	background: #ddd;
	border-radius: 5px;
  }
  .sliderkm .progress{
	height: 100%;
	left:5%;
	right: 10%;
	position: absolute;
	border-radius: 5px;
	background: #4f46e5;
  }

  .range-inputkm{
	position: relative;
  }
  .range-inputkm input{
	position: absolute;
	width: 100%;
	height: 5px;
	top : -5px;
	background: none;
	pointer-events: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
  }
.Tran {
	animation: left_right 0.5s linear forwards;
}
@keyframes left_right {
	0% {
		transform: translateX(0%);
	}
	80% {
		transform: translateX(-80%);
	}
	100% {
		transform: translateX(-100%);
		visibility: hidden;
	}
}
     /* /////////////////////////////////// */

	 .slidertags{
		height: 5px;
		position: relative;
		background: #ddd;
		border-radius: 5px;
	  }
	  .slidertags .progress{
		height: 100%;
		left: 0%;
		right: 20%;
		position: absolute;
		border-radius: 5px;
		background: #4f46e5;
	  }
	
	  .range-inputtags{
		position: relative;
	  }
	  .range-inputtags input{
		position: absolute;
		width: 100%;
		height: 5px;
		top : -5px;
		background: none;
		pointer-events: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		cursor: pointer;
	  }

